<mat-grid-list cols="4" rowHeight="4:1">
    <mat-grid-tile>
        <mat-form-field>
            <mat-label>Search by license plate</mat-label>
            <mat-select>
                <mat-option *ngFor="let truck of trucks" [value]="truck.licensePlate">
                    {{ truck.licensePlate }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <mat-label>Select POI type</mat-label>
            <mat-select [(value)]="selectedPlaceType" (selectionChange)="searchNearbyType($event.value)">
                <mat-option value="all">View all</mat-option>
                <mat-option *ngFor="let poi of poiTypes | keyvalue" [value]="poi['value']">
                    {{ poi['key'].split('_').join(' ') }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <mat-label>Select radius</mat-label>
            <mat-select [(value)]="selectedRadius" (selectionChange)="searchNearbyType()">
                <mat-option *ngFor=" let radius of radiusSelect" [value]="radius">
                    {{radius/1000 + ' km'}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>
<agm-map [zoom]="zoom" [fullscreenControl]="true" [latitude]="lat" [longitude]="lng" (mapReady)="mapReady($event)">
    <agm-marker [latitude]="lat" [longitude]="lng">
    </agm-marker>
    <agm-marker [iconUrl]="iconMap.get(place.type)" [latitude]="place.lat" [longitude]="place.lng"
        *ngFor="let place of nearbyPlaces; let i=index">
    </agm-marker>
</agm-map>